.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.form-block {
  width: auto;
  height: auto;
}

.div-block-2 {
  display: block;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  padding: 40px 40px 40px 400px;
  border-style: solid;
  border-width: 1px;
  border-color: #e9e9e9;
  border-radius: 32px;
  background-color: #fff;
  background-image: url('../images/Frame-12.png');
  background-position: 0% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: scroll;
  box-shadow: 0 24px 24px -5px rgba(0, 0, 0, 0.08);
}

.section {
  background-color: #f8f8f8;
}

.field-label {
  position: static;
  display: block;
  width: 40px;
  margin: auto 12px auto auto;
  float: left;
  clear: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  font-size: 16px;
  line-height: 42px;
  -o-object-fit: fill;
  object-fit: fill;
}

.input {
  display: block;
  width: 320px;
  height: auto;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  float: none;
  border-radius: 24px;
}

.button {
  display: block;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  padding: 12px 100px;
  border-radius: 24px;
  background-color: #06f;
  -webkit-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 2%;
  white-space: normal;
}

.button:hover {
  background-color: #1e78ff;
}

.button:active {
  background-color: #005fec;
}

.div-block-3 {
  position: static;
  display: block;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 4px;
  float: none;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  -o-object-fit: fill;
  object-fit: fill;
}

.heading {
  margin-top: 10px;
  margin-bottom: 40px;
  font-size: 32px;
}

.div-block-4 {
  position: absolute;
  width: 100%;
  height: 80px;
  background-color: #fff;
}

.div-block-5 {
  position: absolute;
  width: 400px;
  height: 100%;
  float: left;
  clear: none;
}

.section-2 {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.div-block-6 {
  width: 200px;
  margin-top: 60px;
  padding-top: 12px;
}

.div-block-7 {
  width: 100%;
  height: 100vh;
  background-color: #fff;
}

.list {
  margin-top: 10px;
  padding-right: 20px;
  padding-left: 20px;
  list-style-type: disc;
}

.body {
  background-color: #fbfbfb;
}

.section-3 {
  background-color: #181818;
}

.tabs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.tabclass {
  background-color: transparent;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #181818;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
}

.tabclass.w--current {
  background-color: transparent;
  font-size: 16px;
  line-height: 22px;
  font-weight: 900;
}

.tabs-content {
  width: 100%;
  height: 90vh;
}

.tabpane {
  height: 100%;
}

.sticky-nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 1;
  padding: 20px;
  background-color: #f4f4f4;
}

.nav-grid {
  display: -ms-grid;
  display: grid;
  width: 100%;
  margin: 0px;
  padding: 0px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-flow: column;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  -ms-grid-columns: 1fr -webkit-max-content -webkit-max-content -webkit-max-content;
  -ms-grid-columns: 1fr max-content max-content max-content;
  grid-template-columns: 1fr -webkit-max-content -webkit-max-content -webkit-max-content;
  grid-template-columns: 1fr max-content max-content max-content;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.nav-logo-link {
  display: block;
  height: 60px;
  margin-right: 0px;
  margin-left: 0px;
  padding: 0px;
}

.nav-logo {
  width: auto;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 0% 50%;
  object-position: 0% 50%;
}

.nav-link {
  display: block;
  margin-right: 0px;
  margin-left: 0px;
  padding: 10px 0px;
  color: #444;
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
}

.navbar {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  display: block;
  overflow: visible;
  width: 100%;
  min-height: 60px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  background-color: #fff;
  -o-object-fit: fill;
  object-fit: fill;
}

.nav-link-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 16px;
  max-width: 0px;
  margin-left: 60px;
  padding: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #181818;
  font-weight: 500;
}

.nav-link-2:hover {
  color: #fff;
  font-weight: 900;
}

.nav-link-2.w--current {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 19px;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 0px 0px 4px;
  border-color: #000 #000 #00be7b;
  color: #181818;
  font-size: 16px;
  font-weight: 900;
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0px;
  margin-left: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #161616;
}

.nav-menu {
  position: absolute;
  left: -120px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-width: 240px;
  margin-left: 50%;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.listitem {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  margin-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 24px;
  list-style-type: disc;
}

.listitem:hover {
  background-color: #fff;
}

.listitem.link {
  margin-bottom: 0px;
  color: #181818;
  text-decoration: none;
}

.listitem.link.w--current {
  width: 160px;
  padding-right: 12px;
  padding-left: 12px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 24px;
  background-color: #00be7b;
  color: #fff;
  font-weight: 700;
}

.listtext {
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
}

.tabs-menu {
  margin-top: 24px;
  margin-bottom: 12px;
  margin-left: 24px;
  clear: none;
}

.cards {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 120px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: #e9e9e9;
  border-radius: 12px;
  background-color: #fff;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  cursor: pointer;
}

.cards:hover {
  box-shadow: 0 8px 12px -4px rgba(0, 0, 0, 0.08);
  -webkit-transform: translate(0px, -4px);
  -ms-transform: translate(0px, -4px);
  transform: translate(0px, -4px);
}

.cards:active {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

.column {
  padding: 8px;
}

.div-block-8 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
}

.image {
  margin-left: 24px;
}

.text-block {
  padding-left: 12px;
  opacity: 1;
  color: #797979;
}

.lottie-animation {
  width: 80px;
  height: 80px;
  margin-left: 24px;
}

.lottie-animation-2 {
  width: 80px;
  height: 80px;
  margin-left: 24px;
}

.text-block-2 {
  margin-right: 32px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  font-weight: 500;
}

.lottie-animation-3 {
  width: 80px;
  height: 80px;
  margin-left: 24px;
}

.columns {
  padding-right: 20px;
  padding-left: 20px;
}

.container-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 96%;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.heading-2 {
  margin: 0px 28px 12px;
  padding-right: 0px;
  padding-left: 0px;
  border-style: none none solid;
  border-width: 1px;
  border-color: #000 #000 #e9e9e9;
  font-size: 18px;
}

.card1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 120px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0px;
  padding-left: 16px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px none #e9e9e9;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.02);
}

.columns-2 {
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 20px;
  padding-left: 20px;
}

@media screen and (max-width: 767px) {
  .sticky-nav {
    position: relative;
  }

  .nav-grid {
    text-align: center;
  }
}

@media screen and (max-width: 479px) {
  .sticky-nav {
    padding: 0px;
  }

  .nav-grid {
    grid-auto-flow: row;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 100px;
    grid-template-rows: 100px;
  }

  .nav-logo-link {
    border-top: 1px solid #c4c4c4;
  }

  .nav-link {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #c4c4c4;
  }
}